
body(style="background-color: transparent;")
.row.container
  .col-md-12.centered
    center
      h4() Ingrese su envio aquí
      form#control(onsubmit='demo(); return false;', class="form-inline")
        input(name='channel', id=pedido, placeholder='ID Envio', class="form-control", autofocus, style="position:relative;")
        button(onclick='demo();',type='button', class="btn btn-success", style="margin-left:5px;") Seguir
      #mensaje
br
.row
  .col-md-12
    #map.mapBounds

  script(src='/socket.io/socket.io.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDA7Nh7DkoN3LHngwKFR-GVpzByXfNG2qg&sensor=false')
  script(src='/js/socketMaps.js')
  script(type='text/javascript').

      var header_height = 60;
      var footer_height = 15;
      var map_height_min = 350;

      google.maps.visualRefresh = true;

      function resize() {
          var non_map_content_height = header_height + footer_height;
          var map_height = map_height_min;
          var difference = $(window).height( ) - non_map_content_height;
          if ( difference > map_height )
              map_height = difference;
              $("#map").css( 'height', map_height );
          }

          var centerOn = -1;
          $(window).resize(function() {
              resize();
          });
          $(document).ready( function(){
              resize();
              var opts = {
                  center: new google.maps.LatLng(10.3910466, -75.5144455),
                  zoom: 7,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              // Crear el mapa
              map = new google.maps.Map( document.getElementById("map"), opts );
              socket.event.subs.begin = function(data){
                  $('#centerList tr').remove();
                  $('input:radio[name=centerOn]').last().change(function(){
                      centerOn = -1;
                  });
              }
          });

          function demo(data){
              var pedido_id = $('#control input[name=channel]').val();
              var mensaje = document.getElementById("mensaje");
              $.ajax({
                type : "GET",
                url : "http://plataforma.expressdelnorte.com.co/pedido/comprobar/"+pedido_id+"/",
                dataType: "json",
                crossDomain: true,})
                .done(function( data, textStatus, jqXHR ){
                  if( data.status == "success" ){
                    socket.emit('sub',data.key);
                     $('#control input[name=channel]').val('');
                    socket.emit('subs');
                    map.setZoom(12);
                    var texto = "<br> <p class='text-success'>Pedido Correcto</p> ";
                    mensaje.innerHTML = texto;
                  }else if (data.status == "finish") {
                    var texto = "<br> <p class='text-warning'>El pedido que ingresastes ya ha sido entregado</p>";
                    mensaje.innerHTML = texto;
                  }else{
                    var texto = "<br> <p class='text-danger'>El pedido que ingresastes no existe</p>";
                    mensaje.innerHTML = texto;
                  }
                })
                  .fail(function( jqXHR, textStatus, errorThrown ){
                    if(console && console.log ){
                      console.log( "La solicitud a fallado: " +  textStatus);
                    }
                    });

          }
