doctype html
//if lt IE 8
  html.no-js.lt-ie8
// [if gt IE 8] <!
html
  // <![endif]
  head
    title Rastreo - Express Del Norte
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Iotlogi Admin Web App')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    // - CSS
    link(rel='stylesheet', href='css/custom.css')
    //link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    // fontawesome
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    // favicons
    
    // Scripts
    script(src='js/jquery-1.11.0.js')
    script(src='js/highcharts.js')
    script(src='js/graficas.js')


    body
    !=body
