.nav-container.bg-dark {
    background-color: #36465D !important;
}

.bg-dark {
    background-color: #36465D !important;
}

#map {
  height:460px !important;
}

.footer{
  position:relative;
  top:320px;
  padding:1em;
}

label {
    margin-left: 1em;
}
